.input {
    background-color: #ffffff33;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #ffffff;
    color: #ffffff;
    font-family: "Roc Grotesk-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    padding: 20px;
    position: relative;
  }